.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    height:700px;
    border:2px solid red; 
}



.child1{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(0, 0, 0);
    height: 100px;
    color:white;
    /* border:2px solid white; */
}

.child2{
    grid-column: 1/13;
    grid-row: 2/3;
    background-color: rgb(92, 92, 92);
    height: 50px;
}
.child3{
    background-color: rgba(240, 173, 78, 0.858);
    grid-column: 1/13;
    grid-row: 3/4;
    height: 200px;
}
.child4{
    background-color: rgba(240, 87, 156, 0.742);
    grid-column: 1/13;
    grid-row: 4/5;
    height: 350px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.child41,.child42,.child43,.child44{
    height:300px;
    width: 300px;
    border:2px solid blue;

}

.child41{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

.child411,.child412,.child413,.child414{
    border:2px solid white;
}
.child411{
    background-color: rgb(236, 236, 138);
}