.container{
    display: grid;
    grid-template-columns: 20px 40px 50px;
    grid-template-rows: 40px 50px 20px;
    height: 400px;
    border:2px solid red;
}
.row1{
    background-color: yellow;
}
.row2{
    background-color: pink;
}
.row3{
    background-color: paleturquoise;
}